.Mixing{
    position: relative;
    margin-top: 50px;
    color: #ffffff;
    background-color:#212529;;
    font-size: 22px;
    border-radius: 20%;
    border-width: 0;
}

  
.mine{
    padding-right: 25% !important;
    padding-left: 100px !important;
  }

/*TableMixer*/
.Tmix {
    display: block;
    position: relative;
    margin-bottom: 0 px;
    cursor: crosshair;
    height: 45px;
    width: 45px;
    align-self: center;
    font-size: 22px;
    background-color: #000000;
    border-radius: 10%;
}
.Tmix input {
    position: absolute;
    opacity: 0;
    cursor: crosshair;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
}
.Tmix input:checked ~ .checkmark {
    background-color: #ffc800;
    height: 45px;
    width: 45px;
    border-radius: 10%;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
select{
    border-width: 0px;
    border-radius: 5%;
    font-size: 22px;
}